body {
    font-family: montserrat;
    background-color: #121212;
}

.content-container {
    width: 90%;
    margin: 0 auto;
    max-width: 1144px;
}

.logo {
    text-decoration: none;
}

.value-prop {
    margin: 0px 96px 0px 0px;
}

.mobile-cta {
    color: white;
    font-size: 1.5rem;
    margin-top: 8%;
}

.intro {
    width:40%;
}

.benefits-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 15%;
    grid-row-gap: 56px;
    margin: 56px 4% 0 4%;
}

.benefit {
    display: flex;
}

.icon {
    width: 24px;
    margin: 25px 24px 0px 0px;
    align-self: start;
}

.benefit-text {
    display: flex;
    flex-direction: column;
}

img {
    width: 40%;
}

h1, h2, h3 {
    color: white;
    font-weight: 400;
    margin-bottom: 8px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 1.5rem;
}

p {
    color: #cfcfcf;
    line-height: 150%;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
}

.nav-item {
    margin: 0px 80px 0px 0px;
    text-decoration: none;
    color: white;
}

.logo {
    font-size: 32px;
    color: #cfcfcf;
}

hr {
    border: 1px solid #494949;
}

.value-prop-container {
    display: flex;
}

.value-prop {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 64px;
    font-weight: 400;
}

.mobile-cta {
    font: size 24px;
    font-weight: 700;
}

ul {
    display: grid;
}

.testimonials-container {
    display: flex;
    padding: 0px;
    margin-top: 16px;
    text-align: center;
    justify-content: space-between;
}

.testimonial {
    background: #212121;
    font-size: 14px;
    width: 21%;
    padding: 16px;
    border-radius: 2px;
}

.testimonial-quote {
    font-weight: 700;
    color: #ffffff;
}

.contact-details-container {
    display: flex;
    justify-content: space-between;
}

.business-hours {
    width: 40%;
}

.contact-details {
    display: flex;
    flex-direction: column;
}

section {
    padding-top: 96px;
}

.phone-number, .email {
    display: flex;
}

footer {
    background: #212121;
}

@media (max-width: 1024px) {
<<<<<<< Updated upstream
    .testimonials-container {
        display: grid;
        text-align: center;
=======
    .hero-image {
        width: 50%;
        max-width: 480px;
    }

    .hero-image-after {
        width: 50%;
        max-width: 480px;
    }

    .hero-grid {
        display: flex;
        justify-content: space-between;
    }
  }

@media (max-width: 715px) {
    .hero-image {
        width: 100%;
    }

    .hero-image-after {
        width: 100%;
    }

    /*this is supposedly bad for accessibility, change */
    .hero-image-after, .hero-image {
        display: none;
    }

    .image-carousel {
        display: flex;
>>>>>>> Stashed changes
        justify-content: space-between;
    }
<<<<<<< Updated upstream
=======

    .container {
        display: none;
    }
}

  * {
    box-sizing: border-box;
  }

  
  /* css for image carousel below */
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }

/*end of carousel styling*/

  
.before-after-container {
    margin-top: 40px;
>>>>>>> Stashed changes
}