body {
    font-family: nunito, sans-serif;
    background: radial-gradient(farthest-corner at 40px 40px,#262626, #121212);
    margin: 0px;
}

.content-container {
    width: 90%;
    margin: 0 auto;
    max-width: 1144px;
}

.value-prop-container {
    align-items: center;
    margin-top: 64px;
}

.value-prop {
    margin: 0px 96px 0px 0px;
}

.value-txt {
    margin-top: 0;
}

.mobile-cta {
    color: white;
    font-size: 1.5rem;
    margin: 48px 0px 0px 0px;
}

.benefit {
    display: flex;
}

.icon {
    width: 24px;
    margin: 25px 24px 0px 0px;
    align-self: start;
}

.benefit-text {
    display: flex;
    flex-direction: column;
}

#hero-image {
    margin: 0px 4%;
}

h1, h2, h3, .email-address {
    color: white;
    font-weight: 400;
    margin-bottom: 8px;
}

h2 {
    font-size: 1.5rem;
}

h3, .email-address {
    font-size: 1.25rem;
}

p {
    color: #cfcfcf;
    line-height: 150%;
}

header {
    z-index: 999;
    background: #232323;
    position: sticky;
    top: 0px;
    margin: 0px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    max-width: 1144px;
}

.nav-item {
    margin-right: 32px;
    text-decoration: none;
    color: white;
}

.menu {
    display: flex;
    list-style-type: none;
}

hr {
    border: 1px solid #494949;
}


h1 {
    font-size: 4rem;
    font-weight: 400;
}

.mobile-cta {
    font-size: 24px;
    font-weight: 700;
}

.testimonial-card {
    background: #212121;
    font-size: 14px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 20px 0px;
}

.contact-details {
    margin-top: 48px;
}

.logo {
    margin-top: 8px;
}

@media (min-width: 560px) {
    .testimonials-container {
        display: grid;
        grid-template-columns: 49% 49%;
        grid-row: auto auto;
        grid-column-gap: 2%;
        grid-row-gap: 8%;
        margin-top: 24px;
    }

    .testimonial-card {
        margin: 0px;
    }

    h2 {
        font-size: 2.25rem;
    }

    h3, .email-address {
        font-size: 1.5rem;
    }

    .intro {
        width:40%;
    }

    .how-to-contact {
        max-width: 480px;
    }

    .logo-image {
        width: 200px;
    }
}

@media (max-width: 720px){
    .time {
        margin-right: 40%
    }

    .value-prop-container {
        align-items: flex-start;
        margin-top: 64px;
    }
}

@media (min-width: 1024px) {
    .testimonials-container {
        display: flex;
        padding: 0px;
        text-align: center;
        justify-content: space-between;
    }

    .testimonial-card {
        width: 25%;
        border-radius: 2px;
        margin: 0px;
    }

    .value-prop-container, .contact-details-container {
        display: flex;
        justify-content: space-between;
    }

    .how-to-contact {
        width: 40%;
    }

    .contact-details {
        margin-top: 0px;
        margin-right: 4%;
    }
}

@media (min-width: 720px) {
    .benefits-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 15%;
        grid-row-gap: 56px;
        margin: 56px 4% 0 4%;
    }

    h1 {
        font-size: 4.5rem;
        font-weight: 400;
        margin-top: 0;
        line-height: 120%;
    }

    .nav-item {
        margin-right: 80px;
    }
}

.testimonial-quote {
    font-weight: 700;
    color: #ffffff;
    margin: 16px;
    text-align: center;
}

.contact-details {
    display: flex;
    flex-direction: column;
}

.contact-details-container {
    background: #212121;
    padding: 24px 4%;
    margin: 24px 0px;
}

section  {
    margin-top: 80px;
}

.phone-number, .email {
    display: flex;
}

sup {
    color: grey;
}

.testimonial-customer {
    height: 48px;
    background: #282828;
}

.testimonial-quote-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.email-address {
    text-decoration: none;
    margin-top: 22px;
    font-size: 1.8rem;
}

.small-heading {
    font-size: 14px;
    margin: 0px;
}

sup {
    font-size: 12px;
}

.number {
    margin: 0px;
    font-size: 1.8rem;
}

.email {
    margin-top: 40px;
    display: flex;
    align-items: flex-start;
}

span {
    font-weight: 700;
}

.divider {
    visibility: hidden;
}

.mon-thurs, .friday {
    display: flex;
    justify-content: space-between;
    color: white;

}

footer {
    margin-top: 80px;
}

@media (min-width: 715px) {
    .business-hours {
        width: 35%;
    }
    
    .divider {
        visibility: visible;
    }
    
    footer {
        display: flex;
        justify-content: space-between;
        margin-top: 80px;
        padding-bottom: 24px;
        align-items: flex-end;
    }

    .mon-thurs, .friday {
        justify-content: space-between;
    }
}

@media (min-width: 1105px) {
    .business-hours {
        width: 25%;
    }
}