body {
    font-family: nunito, sans-serif;
    background-color: #121212;
}

.content-container {
    width: 90%;
    margin: 0 auto;
    max-width: 1144px;
}

.logo {
    text-decoration: none;
    font-size: 1.5rem;
    color: #cfcfcf;
}

.value-prop {
    margin: 0px 96px 0px 0px;
}

.mobile-cta {
    color: white;
    font-size: 1.5rem;
    margin-top: 8%;
}

.benefit {
    display: flex;
}

.icon {
    width: 24px;
    margin: 25px 24px 0px 0px;
    align-self: start;
}

.benefit-text {
    display: flex;
    flex-direction: column;
}

img {
    width: 40%;
}

h1, h2, h3 {
    color: white;
    font-weight: 400;
    margin-bottom: 8px;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

p {
    color: #cfcfcf;
    line-height: 150%;
}

header {
    background: blue;
    z-index: 999;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 48px;
}

.nav-item {
    margin-right: 32px;
    text-decoration: none;
    color: white;
}

.menu {
    display: flex;
    list-style-type: none;
}

hr {
    border: 1px solid #494949;
}


h1 {
    font-size: 3rem;
    font-weight: 400;
}

.mobile-cta {
    font-size: 24px;
    font-weight: 700;
}

.testimonial-card {
    background: #212121;
    font-size: 14px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 20px 0px;
}

@media (min-width: 560px) {
    .testimonials-container {
        display: grid;
        grid-template-columns: 49% 49%;
        grid-row: auto auto;
        grid-column-gap: 2%;
        grid-row-gap: 8%;
        margin-top: 24px;
    }

    .testimonial-card {
        margin: 0px;
    }

    h2 {
        font-size: 2.25rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    .logo {
        font-size: 2rem;
    }

    .intro {
        width:40%;
    }
}

@media (min-width: 1024px) {
    .testimonials-container {
        display: flex;
        padding: 0px;
        text-align: center;
        justify-content: space-between;
    }

    .testimonial-card {
        width: 25%;
        border-radius: 2px;
        margin: 0px;
    }

    .value-prop-container {
        display: flex;
    }

    .contact-details-container {
        display: flex;
        justify-content: space-between;
    }

    .how-to-contact {
        width: 40%;
        margin-left: 4%;
    }

    .contact-details {
        margin-right: 4%;
    }
}

@media (min-width: 720px) {
    .benefits-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 15%;
        grid-row-gap: 56px;
        margin: 56px 4% 0 4%;
    }

    h1 {
        font-size: 4rem;
        font-weight: 400;
    }

    .nav-item {
        margin-right: 80px;
    }
}

.testimonial-quote {
    font-weight: 700;
    color: #ffffff;
    margin: 16px;
    text-align: center;
}

.contact-details {
    display: flex;
    flex-direction: column;
}

section {
    padding-top: 96px;
}

.phone-number, .email {
    display: flex;
}

sup {
    color: grey;
}

.testimonial-customer {
    height: 48px;
    background: #313131;

}

.testimonial-quote-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}